XML_BTL/qlnv.dtd

<!ELEMENT QLNV (Nhanvien*)>
<!ELEMENT Nhanvien (Hoten, Diachi, Gioitinh, Namsinh, Sdt, Password)>
<!ELEMENT Hoten (#PCDATA)>
<!ELEMENT Diachi (#PCDATA)>
<!ELEMENT Gioitinh (#PCDATA)>
<!ELEMENT Namsinh (#PCDATA)>
<!ELEMENT Sdt (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ATTLIST Nhanvien MaNV ID #REQUIRED>

